<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="./main.js"></script>
    <title>GGungd</title>
</head>
<body>
    <!-- header -->
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="header">
                    <div class="main_logo">
                        <a href="#">
                            <img src="./images/메인로고.png" alt="main_logo" class="logo">
                        </a>
                    </div>
                    <div class="nav">
                        <ul>
                            <li class="story"><a href="#">브랜드 스토리</a></li>
                            <li class="diplay"><a href="#">3분할 좌판</a></li>
                            <li class="content"><a href="#">제품상세</a></li>
                            <li class="contact"><a href="#">Q&A</a></li>
                            <li class="buy"><a href="https://www.sada5.com/">구매</a></li>
                            <li class="blog"><a href="https://blog.naver.com/ggungd05">블로그</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- //header -->
    
    <!-- section_story -->
    <section id="section_main">
        <div class="container">
            <div class="row">
                <div class="section_main">
                    <div class="main_left">
                        <div class="title">GGUNG.D</div>
                        <div class="content">
                            <span class="top">자기주도형 의자 꿍디,<br><br>아이 스스로 바른자세를 찾아가요.</span>
                        </div>
                    </div>
                    <div class="main_center">
                        <img src="./images/메인의자.png" alt="main_img1">
                    </div>
                    <div class="main_right">
                        <img src="./images/메인이미지.png" alt="main_img2">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //section_story -->

    <!-- story_line -->
    <div id="story_line">
        <div class="container">
            <div class="row">
                <div class="story_line"></div>
            </div>
        </div>
    </div>
    <!-- //story_line -->
    
    <!-- brand_text -->
    <div id="brand_text">
        <div class="container">
            <div class="row">
                <div class="brand_text"><span class="brand_text">브랜드 스토리</span></div>
            </div>
        </div>
    </div>

    <!-- brand_story -->
    <div id="section_story">
        <div class="container">
            <div class="row">
                <div class="section_story">
                    <section class="story_left">
                        <div class="left_title"><span class="title">기존 어린이 의자의 패러다임을 바꾸다.</span></div>
                        <div class="left_content"><span class="content">about ggung.d</span></div>
                        <img src="./images/브랜드스토리아이사진.png" alt="">
                    </section>
                    <section class="story_right">
                        <div class="right_top">
                            <div class="top_content">
                                <div class="one">
                                    <b>'내 아이'</b>가 앉기만 해도 자연스럽게 <br><br> 올바른 자세를 찾아갈 수 없을까?
                                </div>
                                <div class="two">
                                    꿍디의 시작이었고, <br><br> <b>6년이라는 시간</b>이 걸렸습니다.
                                </div>
                                <div class="three">
                                    성장기의 어린이 <b>183명의 자세</b>를 <br><br> 최적으로 맞추려는 다양한 시도 끝에 찾은 답.
                                </div>
                            </div>
                            
                        </div>
                        <div class="right_middle">
                            <img src="./images/브랜드스토리 여는따옴표.png" alt="open" class="open">
                            <span>3분할 좌판</span>
                            <img src="./images/브랜드스토리 닫는따옴표.png" alt="close" class="close">
                        </div>
                        <div class="right_bottom">
                            <img src="./images/브랜드스토리 x.png" alt="x" class="x">
                            <span>꿍디는 기능성의 원리를 <br><br> 등받이가 아닌 <br><br> <b>좌판</b>에서 찾았습니다.</span>
                            <img src="./images/브랜드스토리 동그라미.png" alt="o" class="o">
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- //brand_story -->

    <!-- LOGO -->
    <div id="logo_text">
        <div class="container">
            <div class="row">
                <div class="logo_text">logo</div>
            </div>
        </div>
    </div>
    <!-- //LOGO -->

    <!-- logo_concept -->
    <div id="logo_concept">
        <div class="container">
            <div class="row">
                <div class="logo_concept">
                    <div class="concept_left">
                        <div><span class="title">컨셉</span></div>
                        <div class="description">
                            <div class="description_title">
                                <span class="one">컨셉설명</span><br><br>
                                <span class="two">귀여움, 부드러움, 편안함, 친근함, 아이들, 건강</span>
                            </div>
                            <div class="content">성장기 어린이들의 바른자세와 편안함을 위한 삼분할 의자라는 서비스 의의에 맞게<br><br>
                            어린이에 적합한 귀여운 색상과 둥근 모듈을, 바른자세와 편안함이라는 키워드에 적합한<br><br> 건강과 관련된, 친근한 색상을 활용했습니다.
                            </div>
                        </div>
                        <div class="color">
                            <div class="color_title"><span>색상</span></div><br>
                            <div class="color_content">
                                <div class="blue">
                                    <div class="code">#426bff</div>
                                    <div class="color">
                                        <img src="./images/blue.png" alt="blue">
                                    </div>
                                </div><br>
                                <div class="orange">
                                    <div class="code">#ff740f</div>
                                    <div class="color">
                                        <img src="./images/orange.png" alt="orange">
                                    </div>
                                </div><br>
                                <div class="yellow">
                                    <div class="code">#ffd631</div>
                                    <div class="color">
                                        <img src="./images/yellow.png" alt="yellow">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="concept_right">
                        <img src="./images/브랜드스토리-로고-로고3개.png" alt="logo_three">
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <!-- //logo_concept -->

    <!-- logo_image -->
    <div id="logo_img">
        <div class="container">
            <div class="row">
                <div class="logo_img">
                    <div class="left">
                        <img src="./images/브랜드스토리-로고-로고포인트.png" alt="logo_point">
                    </div>
                    <div class="right">
                        <div class="right_title">
                            <span>형태</span>
                            <div class="korea_logo">
                                <div class="korea_title">한글로고</div><br>
                                <div class="korea_content">굵기를 조절해 통통한 그립감을 주었으며,<br><br>
                                글자 위에 얹어진 선으로 꿍디의 컨셉인 엉덩이 형태를 의도했습니다.
                                </div>
                            </div>
                            <div class="eng_logo">
                                <div class="eng_title">영문로고</div><br>
                                <div class="eng_content">G를 반전시켜 엉덩이 형태를 띄게 해<br><br>
                                꿍디의 컨셉인 엉덩이 형태를 살려 제작했습니다.<br><br>
                                종류는 메인로고와 서브로고 두가지입니다.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //logo_image -->

    <!-- logo_line -->
    <div id="logo_line">
        <div class="container">
            <div class="row">
                <div class="logo_line"></div>
            </div>
        </div>
    </div>
    <!-- //logo_line -->

    <!-- three division -->
    <div id="division">
        <div class="container">
            <div class="row">
                <div class="division">
                    <div class="left">
                        <div class="head_title">3분할 좌판</div>
                        <div class="middle_title">등받이엔 항상 기대어 있지 않지만, 좌판에는 항상 앉아있습니다.<br><br><br>
                            <b>꿍디만의 3분할 좌판</b>
                        </div>
                        <div class="content">
                            <span class="title">좌우 유동 좌판 2개, 고정 좌판 1개로 이루어진 좌판</span><br><br><br><br>
                            <span class="content">
                            *착석 자세의 움직임에 따라 척추 및 요추의 잘못된 위치 이동을 막아 줌으로써,<br>
                            척추 측만증 등의 질환을 줄여주는 데 도움을 줄 수 있는 특허 제품
                            </span>
                        </div>
                    </div>
                    <div class="right">
                        <img src="./images/3분할좌판-의자.png" alt="chair">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //three division -->

    <!-- posture -->
    <div id="posture">
        <div class="container">
            <div class="row">
                <div class="posture_top">
                    <div class="title"><span>좋은 자세는 좌판에서</span></div>
                    <div class="content">
                        <div class="left">
                            <span>허리는 요추의 <b>C 라인</b>이 유지될 때 좋은 자세가 됩니다.<br><br>
                            하지만, <b>앉을 때 골반이 회전하며</b><br><br>
                            <b>요추가 일직선</b>으로 퍼지게 됩니다.<br><br><br><br><br>
                            바로 이런 것들이 불편함의 이유이자<br><br>
                            <b>아이들이 장시간 앉아있지 못하는 이유</b>입니다.
                            </span>
                        </div>
                        <div class="right">
                            <img src="./images/3분할좌판-서있는 요추.png" alt="stand">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="posture_bottom">
                    <div class="left">
                        <div class="left_picture">
                            <img src="./images/3분할좌판-자사일반의자요추.png">
                            <span>일직선 요추<br><br>
                            <b>자사 일반 의자</b>
                            </span>
                        </div>
                        <div class="right_picture">
                            <img src="./images/3분할좌판-꿍디c라인요추.png">
                            <span>C라인 요추<br><br>
                            <b>꿍디</b>
                            </span>
                        </div>
                    </div>
                    <div class="right">
                        <span>
                            <b>꿍디는</b> 분할된 <b>유동 좌판이 골반을 고정</b>해주기 때문에<br><br>
                            <b>요추의 C 라인을 잡아주어</b><br><br>
                            <b>앉아있는 것만으로도 좋은 자세를 유지</b>할 수 있습니다.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //posture -->

    <!-- patent -->
    <div id="patent">
        <div class="container">
            <div class="row">
                <div class="patent">
                    <div class="title"><span>특허청 등록</span></div>
                    <div class="content">
                        <div class="left">
                            <img src="./images/3분할좌판-특허청등록-다우스, 한양대 로고.png" alt="hanyang">
                        </div>
                        <div class="right">
                            <span>다우스는 답을 찾기 위해<b> 한양대 인체공학 연구소</b>와<br><br>
                            수년간 <b>공동개발</b>에 최선을 다해왔습니다.<br><br><br><br>
                            <b>척추질환 예방</b>과 <b>요추 교정</b> 기능을 고려한 놀라운 기능.<br><br>
                            <b>특허청에 등록</b>된 인체 공학적 <b>3분할 좌판 의자</b>
                            </span>
                        </div>
                    </div>
                    <div class="picture">
                        <img src="./images/3분할좌판-특허청등록-특허증.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //patent -->

    <!-- product_detail -->
    <div id="product_detail">
        <div class="container">
            <div class="row">
                <div class="product_detail">
                    <div class="head_title"><span>제품 상세</span></div>
                    <div class="product">
                        <div class="title"><span>제품</span></div>
                        <div class="picture">
                            <img src="./images/제품상세-의자상세사진.png" alt="chair">
                        </div>
                    </div>
                    <div class="color">
                        <div class="title"><span>색상</span></div>
                        <div class="picture">
                            <img src="./images/제품상세-의자컬러.png" alt="color_chair">
                        </div>
                    </div>
                    <div class="description">
                        <div class="title"><span>설명</span></div>
                        <div class="content">
                            <div class="one">
                                <img src="./images/제품상세-설명버튼1.png" alt="one">
                                <span><b>뒤로 기대어도 편안히</b><br><br>
                                <b>젖혀지는 틸트설계</b><br><br><br>
                                좌판과 요추, 그리고 등받이가<br><br>
                                <b class="middle_content">아이 중심으로 몸의 군형을 잡아줄 수<br><br>
                                있도록 설계</b>되었습니다.
                                </span>
                            </div>
                            <div class="two">
                                <div class="left">
                                    <img src="./images/제품상세-설명이미지1.png" alt="two">
                                </div>
                                <div class="right">
                                    <img src="./images/제품상세-설명버튼2.png" alt="two">
                                    <span><b>90º로 젖혀지는<br><br>
                                    팔 받침대</b><br><br><br>
                                    아이가 팔을 받치치 않을 때,<br><br>
                                    <b class="middle_content">쉽게 뒤로 젖혀</b> 활동 영역을 넓힐 수 있습니다.
                                    </span>
                                </div>
                            </div>
                            <div class="three">
                                <div class="left">
                                    <img src="./images/제품상세-설명버튼3.png" alt="">
                                    <div class="content">
                                        <span><b>아이의 체격에 따른<br><br>
                                        높낮이 조절 기능</b><br><br><br><br>
                                        아이의 키, 체격에 따라<br><br>
                                        의자의 높낮이를 <b>조절할 수 있습니다.</b>
                                        </span>
                                    </div>
                                </div>
                                <div class="right">
                                    <img src="./images/제품상세-설명이미지2.png" alt="">
                                </div>
                            </div>
                            <div class="four">
                                <div class="left">
                                    <img src="./images/제품상세-설명이미지3.png" alt="">
                                </div>
                                <div class="right">
                                    <img src="./images/제품상세-설명버튼4.png" alt="">
                                    <span><b>땀이 차지않는 통기성<br><br>등받이 메쉬소재</b><br><br><br><br>
                                    신축성과 통기성이 뛰어난 메쉬소재로,<br><br>
                                    열과 수분을 분산시켜<br><br>
                                    <b class="middle_content">체온을 최적의 상태로 유지시켜주며<br><br>
                                    등에 땀이 차지 않게</b>합니다.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="size"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- size -->
    <div id="size">
        <div class="container">
            <div class="row">
                <div class="size">
                    <div class="title"><span>사이즈</span></div>
                    <div class="picture">
                        <img src="./images/제품상세-사이즈.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //size-->

    <!-- Q&A_line -->
    <div id="qAnda_line">
        <div class="container">
            <div class="row">
                <div class="qAnda_line"></div>
            </div>
        </div>
    </div>
    <!-- //Q&A_line -->

    <!-- Q&A -->
    <div id="qAnda">
        <div class="container">
            <div class="row">
                <div class="qAnda">
                    <div class="head_title"><span>Q&A</span></div>
                    <div class="main_title"><span>많이 물어보는 질문</span></div>
                    <div class="content">
                        <div class="one">
                            <img src="./images/제품상세-설명버튼1.png" alt="one">
                            <div class="title">
                                <span><b>몇 살까지 사용 가능한가요?</b></span><br><br><br>
                            </div>
                            <div class="content">
                                <span>꿍디의 사용 구너장 연령은 유치원-초등학생이며,<br><br>
                                사용 권장 신장은 110cm ~ 160cm 입니다.<br><br>
                                (연령대는 성장에 따라 달라질 수 있다는 점 감안해 주세요.)
                                </span>
                            </div>
                        </div>
                        <div class="two">
                            <img src="./images/제품상세-설명버튼2.png" alt="two">
                            <div class="title">
                                <span><b>발받침 사용 권장 신장이 있나요?</b></span><br><br><br>
                            </div>
                            <div class="content">
                                <span>발받침 사용 권장 신장은 110cm ~ 140cm입니다.<br><br>
                                발 받침을 딛고 서있을 경우 위험할 수 있으니, 주의해 주세요.
                                </span>
                            </div>
                        </div>
                        <div class="three">
                            <img src="./images/제품상세-설명버튼3.png" alt="three">
                            <div class="title">
                                <span><b>직접 조립해야 하나요?</b></span><br><br><br>
                            </div>
                            <div class="content">
                                <span>꿍디는 DIY 제품으로, 간단하게 조립이 가능<br><br>
                                조립 방법은 페이지에 기재되어 있습니다.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //Q&A -->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="footer">
                    <span>
                        <b>주식회사 겟위즈</b><br><br>
                        서울특별시 금천구 가산디지털1로 181<br><br>
                        (가산 더블유센터) 802호<br><br><br>
                        대표 : 권연우<br><br>
                        사업자등록번호 : 647-87-00794<br><br><br>
                        통신판매업신고번호 : 제2019-서울금천-1648호<br><br><br>
                        메일 : getwis88@gmail.com<br><br>
                        호스팅제공 : 엔에이치엔커머스(주)<br><br><br>
                        copyright. 2022. ggungd.com.<br><br>
                        All rights reserved.
                    </span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>