
body {
    position: relative;
    font-family: 'NanumSquare';
    overflow-x: auto;
}

:root {

    /* color */
    --header-color: rgba(0,0,0, 0.2);

    /* font-size */
    --font-large-50: 50px;
    --font-large-40: 40px;
    --font-medium-30: 30px;
    --font-medium-25: 25px;
    --font-medium-20: 20px;
    --font-regular-23: 23px;
    --font-regular-22: 22px;
    --font-regular-20: 20px;
    --font-small-18: 18px;
    --font-small-16: 16px;

    /* font-weight */
    --bold-large: 600;
    --bold-medium: 400;
    --bold-small: 200;
}   

a {
    text-decoration: none;
    color: black;
}

/* container 영역 */
.container {
    padding: 0 228px;
}

#header {
    border-bottom: 1px solid var(--header-color);
}

/* header 영역 */
#header.center {
    position: fixed;
    background-color: white;
    z-index: 2;
    width: 100%;
}

.header {
    display: flex;
    height: 65px;
}

.nav.center {
    margin-left: 100px;
}

.main_logo {
    margin-top: 12px;
}

.nav {
    width: 919px;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 25px 0 25px 0;
}

.nav ul li {
    text-align: center;
    font-family: 'NanumSquareRound';
    font-weight: bold;
    font-size: var(--font-small-16);
    margin-left: 110px;
    cursor: pointer;
    width: 92px;
}

.nav ul li:hover {
    color: #e64a19;
}

.nav ul li a:hover {
    color: #e64a19;
}

.nav ul li:first-child {
    margin-left: 0;
}

.link ul {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 25px 0;
    font-family: 'NanumSquareRound';
    font-weight: bold;
    font-size: var(--font-small-16);
}

.link ul li {
    text-align: center;
    width: 103px;
    margin-left: 110px;
}

.link ul li a:hover {
    color: #E2B659;
}

/* section_story */
#section_main {
    height: 818px;
    margin-bottom: 300px;
}

#section_main .container {
    padding-top: 0;
    padding-right: 0;
}

.section_main {
    display: flex;
    position: relative;
}

.section_main .main_left {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.section_main .main_left .title {
    display: inline-block;
    font-weight: bold;
    font-size: var(--font-large-50);
    padding: 230px 0 56px 0 ;
}

.section_main .main_left .content {
    display: inline-block;
    z-index: 3;
}

.section_main .main_left .content .top {
    display: inline-block;
    font-size: var(--font-medium-30);
}

.section_main .main_center {
    position: absolute;
    z-index: 1;
    top: 412px;
    right: 280px;
}

.section_main .main_right img {
    position: absolute;
    top: 0;
    right: 0;
}


/* story_line */
.story_line {
    width: 1464px;
    height: 2px;
    background-color: var(--header-color);
}

/* brand_text */
#brand_text .container {
    padding: 50px 0 28px 228px;
}

.brand_text {
    position: relative;
}

.brand_text::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 13px;
    height: 30px;
    background: #FFBF00;
}

.brand_text span {
    display: inline-block;
    font-size: var(--font-large-40);
    font-weight: var(--bold-large);
    padding-left: 30px;
}

.brand_text .title {
    display: inline-block;
    padding: 30px 0 72px 30px;
    font-size: var(--font-regular-20);
}

/* brand_story */

#brand_story {
    text-align: center;
}

.brand_story .story_right .right_top .top_content {
    font-size: var(--font-regular-20);
    height: 370px;
}

.brand_story .story_right .right_top .top_content .one {
    padding: 60px 0 ;
}

.brand_story .story_right .right_top .top_content b {
    font-family: 'NanumSquareLight';
    font-size: var(--font-regular-20);
}

.brand_story .story_right .right_bottom {
    position: relative;
    font-family: 'NanumSquareLight';
    font-size: var(--font-medium-25);
    padding-bottom: 300px;
}

/* section_story */
.section_story {
    height: auto;
    text-align: center;
    margin-bottom: 300px;
}

.story_left span {
    font-size: var(--font-medium-25);
    font-weight: bold;
}

.story_left .left_content .content {
    display: inline-block;
    font-size: var(--font-large-40);
    font-weight: var(--bold-large);
    text-transform: uppercase;
}

/* logo_concept */
#logo_concept .container {
    padding-left: 0;
    padding-right: 0;
}

.logo_concept {
    display: flex;
    background-color: #FEFFEF;
}

.logo_concept .concept_left {
    width: 1030.65px;
    height: 475px;
    border: 1px solid var(--header-color);
    border-left: 0px;
    padding: 100px 0 0 228px;
    background-color: #fff;
}

.logo_concept .concept_left .title {
    display: inline-block;
    padding-bottom: 60px;
    font-size: var(--font-medium-25);
    font-weight: bold;
}

.logo_concept .concept_left .description_title .one {
    font-weight: bold;
    font-size: var(--font-regular-20);
}

.logo_concept .concept_left .content {
    font-size: var(--font-regular-20);
    padding:  0 110px 50px 0;
}

.logo_concept .concept_right {
    padding: 172px 228px 172px 102px;
}

.logo_concept .color {
    font-family: 'NanumSquareLight';
    font-size: var(--font-regular-20);
    font-weight: bold;
}

.logo_concept .color .color_content > div {
    display: flex;
}

.logo_concept .color .color_content > div .color {
    padding-left: 35px;
}

.logo_concept .color .color_content .orange .color img {
    display: inline-block;
    padding-left: 4px;
}

/* logo_img */
#logo_img {
    margin-bottom: 300px;
}

#logo_img .container {
    padding-left: 0;
    padding-right: 0;
}

.logo_img {
    display: flex;
    background-color: #FEFFEF;
}

.logo_img .left {
    padding: 220px 133px 0 228px;
}

.logo_img .right {
    border: 1px solid var(--header-color);
    height: 496px;
    padding: 70px 408.5px 0 110px;
    border-right: 0;
    background-color: #fff;
}


.logo_img .right .right_title span {
    display: inline-block;
    font-weight: bold;
    font-size: var(--font-medium-25);
    padding-top: 30px;
    padding-bottom: 60px;
}

.logo_img .right .right_title .korea_logo {
    padding-bottom: 50px;
}

.logo_img .right .right_title .korea_logo .korea_title {
    font-size: var(--font-regular-20);
}

.logo_img .right .right_title .korea_logo .korea_content {
    font-size: var(--font-regular-20);
} 

.logo_img .right .right_title .eng_logo .eng_title {
    font-size: var(--font-regular-20);
}

.logo_img .right .right_title .eng_logo .eng_content {
    font-size: var(--font-regular-20);
}

/* logo_line */
.logo_line {
    width: 1464px;
    height: 2px;
    background-color: var(--header-color);
    margin-bottom: 50px;
}

/* paradigm */

.paradigm {
    text-align: center;
    margin-bottom: 300px;
}

.paradigm .title {
    font-size: var(--font-medium-25);
    font-weight: bold;
    padding-bottom: 60px;
}

.paradigm .img {
    padding-bottom: 60px;
}

.paradigm .content {
    font-size: var(--font-medium-20);
}

.paradigm .display_top {
    position: relative;
    padding: 90px 0;
    margin-top: 90px;
}

.paradigm .display_top span {
    font-size: var(--font-large-40);
}

.paradigm .display_top .open {
    position: absolute;
    top: 57px;
    left: 599px;
}

.paradigm .display_top .close {
    position: absolute;
    top: 141px;
    right: 599px;
}

.paradigm .display_bottom {
    text-align: center;
    position: relative;
    font-size: var(--font-medium-25);
}

.paradigm .display_bottom .x {
    position: absolute;
    top: 38px;
    left: 668px;
}

.paradigm .display_bottom .o {
    position: absolute;
    top: 83px;
    right: 774px;
}

/* division */
#division {
    margin-bottom: 100px;
}

#division .container {
    padding-right: 0;
}

.division {
    display: flex;
    margin-bottom: 200px;
}

.division .head_title {
    font-family: 'NanumSquareExtraBold';
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: var(--font-large-40);
    padding: 0 0 48px 30px;
}

.division .head_title::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 13px;
    height: 30px;
    background: #FFBF00;
}

.division .middle_title {
    font-size: var(--font-regular-20);
    margin-bottom: 100px;
    padding-left: 30px;
}

.division .middle_title b {
    display: inline-block;
    font-weight: bold;
    font-size: var(--font-large-40);
    margin-bottom: 105px;
}

.division .bottom_title .title {
    font-family: 'NanumSquareBold';
    font-size: var(--font-medium-25);
    font-weight: bold;
    padding-left: 30px;
    margin-bottom: 60px;
}

.division .bottom_title .content {
    font-size: var(--font-medium-20);
    padding-left: 30px;
}

.division .bottom_title .content .note {
    font-size: 14px;
}


.division .right {
    width: 951px;
    height: 645px;
    border: 1px solid var(--header-color);
    border-right: 0;
    margin-left: 154px;
}

.division .right img {
    display: inline-block;
    width: 442px;
    height: 476px;
    padding: 110px 110px 110px 230px;
}

/* posture */
#posture {
    margin-bottom: 300px;
}

#posture .container {
    padding-left: 0px;
}

.posture_top {
    padding-left: 258px;
    margin-bottom: 80px;
}

.posture_top .title {
    font-family: 'NanumSquareBold';
    font-size: var(--font-medium-25);
    font-weight: bold;
    margin-bottom: 60px;
}

.posture_top .content {
    display: flex;
}

.posture_top .content .left {
    font-family: 'NanumSquareLight';
    font-size: var(--font-regular-20);
    margin-right: 550px;
}

.posture_top .content .left b {
    font-size: var(--font-medium-20);
}

.posture_top .content .right img {
    width: 112px;
    height: 237px;
}

.posture_bottom {
    display: flex;
}

.posture_bottom .left {
    display: flex;
    align-items: center;
    width: 952px;
    height: 643px;
    border: 1px solid var(--header-color);
    padding-left: 228px;
}

.posture_bottom .left .left_picture {
    display: flex;
    flex-direction: column;
    margin-right: 360px;
}

.posture_bottom .left > img {
    width: 169px;
    height: 185px;
}

.posture_bottom .left span {
    font-family: 'NanumSquareLight';
    font-size: var(--font-regular-23);
}

.posture_bottom .left b {
    font-size: var(--font-regular-23);
}

.posture_bottom .left span b {
    text-align: center;
}

.posture_bottom .left .right_picture {
    display: flex;
    flex-direction: column;
}

.posture_bottom .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 743px;
    font-family: 'NanumSquareLight';
    font-size: var(--font-regular-20);
}

.posture_bottom .right b {
    font-size: var(--font-medium-20);
}

/* patent */
#patent {
    margin-bottom: 400px;
}

#patent .container {
    padding: 0;
}

.patent .title {
    margin-bottom: 100px;
    padding-left: 228px;
}

.patent .title span {
    font-family: 'NanumSquareBold';
    font-size: var(--font-medium-25);
    font-weight: bold;
}

.patent .content {
    display: flex;
    margin-bottom: 150px;
    padding-left: 228px;
}

.patent .content .left {
    margin-right: 150px;
}

.patent .content .left img {
    width: 659px;
    height: 233px;
}

.patent .content .right {
    font-size: var(--font-medium-20);
}

.patent .content .right b {
    font-size: var(--font-medium-20);
    font-weight: bold;
}

.patent .content .right .note {
    font-size: 14px;
}

.patent .picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0;
}

.patent .picture img {
    width: 838px;
    height: 439px;
}

/* product_line */
.product_line {
    width: 1464px;
    height: 2px;
    background-color: var(--header-color);
    margin-bottom: 50px;
}

/* product_detail */
#product_detail {
    margin-bottom: 200px;
}

.product {
    margin-bottom: 200px;
}

.product_detail .head_title {
    margin-bottom: 90px;
}

.product_detail .head_title span {
    font-size: var(--font-regular-20);
}

.product_detail .product .title {
    position: relative;
    margin-bottom: 70px;
}

.product_detail .product .title::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 13px;
    height: 30px;
    background: #FFBF00;
}

.product_detail .product .title span {
    font-size: var(--font-large-40);
    font-weight: bold;
    padding-left: 30px;
}

.product_detail .product .s_title {
    font-family: 'NanumSquareBold';
    font-size: var(--font-medium-25);
    font-weight: bold;
    margin-bottom: 70px;
    padding-left: 30px;
}

.product_detail .picture {
    display: flex;
    justify-content: center;
}

.product_detail .color {
    margin-bottom: 200px;
}

.product_detail .color .title {
    font-family: 'NanumSquareBold';
    font-size: var(--font-medium-25);
    font-weight: bold;
    margin-bottom: 70px;
}

.product_detail .description .title {
    margin-bottom: 70px;
    font-family: 'NanumSquareBold';
    font-size: var(--font-medium-25);
    font-weight: bold;
}

.product_detail .description .content {
    padding: 0 170px;
}

.product_detail .description .content .content_top {
    display: flex;
    justify-content: space-between;
}

.product_detail .description .content .one {
    display: flex;
    flex-direction: column;
}

.product_detail .description .content .one .btn {
    display: block;
    padding-bottom: 30px;
    width: 38px;
    height: 38px;
}

.product_detail .description .content .one span {
    padding-bottom: 50px;
    font-size: var(--font-regular-20);
}

.product_detail .description .content .one span b {
    font-size: var(--font-medium-25);
}

.product_detail .description .content .one span .middle_content {
    font-size: var(--font-regular-20);
}

.product_detail .description .content .two {
    display: flex;
    flex-direction: column;
}

.product_detail .description .content .two .btn {
    width: 38px;
    height: 38px;
    padding-bottom: 30px;
}

.product_detail .description .content .two span {
    padding-bottom: 85px;
    font-size: var(--font-medium-20)
}

.product_detail .description .content .two span b {
    font-size: var(--font-medium-25);
}

.product_detail .description .content .two span .middle_content {
    font-size: var(--font-regular-20);
}

.product_detail .description .content .content_bottom {
    display: flex;
    justify-content: space-between;
}

.product_detail .description .content .three {
    margin-top: 150px;
}

.product_detail .description .content .three .btn {
    width: 38px;
    height: 38px;
    padding-bottom: 30px;
}

.product_detail .description .content .three .three_content {
    font-size: var(--font-regular-20);
    padding-bottom: 127px;
}

.product_detail .description .content .content_bottom .three .three_content span b {
    font-size: var(--font-medium-25);
}

.product_detail .description .content .content_bottom .three .three_content .middle_content {
    font-size:var(--font-regular-20);
}

.product_detail .description .content .content_bottom .four .btn {
    width: 38px;
    height: 38px;
    padding-bottom: 30px;
}

.product_detail .description .content .content_bottom .four {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.product_detail .description .content .content_bottom .four .four_content {
    padding-bottom: 80px;
}

.product_detail .description .content .content_bottom .four span {
    font-size: var(--font-medium-20)
}

.product_detail .description .content .content_bottom .four span b {
    font-size: var(--font-medium-25);
}

.product_detail .description .content .content_bottom .four span .middle_content {
    font-size: var(--font-regular-20);
}

/* size */
#size {
    margin-bottom: 400px;
}

.size .title {
    margin-bottom: 60px;
}

.size .title span {
    font-family: 'NanumSquareBold';
    font-size: var(--font-medium-25);
    font-weight: bold;
}

.size .picture {
    display: flex;
    justify-content: center;
}

.size .picture img {
    width: 1085px;
    height: 560px;
}

/* Q&A_line */

.qAnda_line {
    width: 1464px;
    height: 2px;
    background-color: var(--header-color);
    margin-bottom: 50px;
}

/* Q&A */

#qAnda {
    margin-bottom: 300px;
}

.qAnda .head_title {
    position: relative;
    font-size: var(--font-large-40);
    font-weight: bold;
    margin-bottom: 48px;
    padding-left: 30px;
}

.qAnda .head_title::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 13px;
    height: 30px;
    background: #FFBF00;
}

.qAnda .main_title {
    padding-left: 30px;
    font-size: var(--font-regular-20);
    margin-bottom: 100px;
}

.qAnda .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size:var(--font-regular-20);
}

.qAnda .content .title {
    font-size: var(--font-medium-25);
}

.qAnda .content img {
    padding-bottom: 50px;
}

.qAnda .content .two {
    margin-top: 190px;
}

.qAnda .content .three {
    margin: 190px 0 0 0;
}

/* footer */

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 210px;
    background-color: #FEFFEF;
    border-top: 1px solid var(--header-color);
}

.footer {
    font-size: 15px;
}

.footer .bottom {
    padding-top: 45px;
}

.footer .adress,
.footer .number,
.footer .email {
    display: inline-block;
    padding-left: 50px;
}

.footer .name,
.footer .adress .title,
.footer .number .title,
.footer .email .title {
    font-size: 15px;
    font-weight: bold;
}

/* top_btn */
.top_btn {
    display: none;
    position: absolute;
    position: fixed;
    bottom: 100px;
    right: 100px;
    font-size: 50px;
    cursor: pointer;
    color: #ffcc80;
}

.top_btn i {
    border: 1px solid var(--header-color);
    border-radius: 50%;
}

.top_btn.active {
    display: block;
}

